aiodns
aiofiles
aiohttp[speedups]
beautifulsoup4
bs4
googletrans==3.1.0a0
maxminddb-geolite2
multidict
opencv-python
paramiko
Pillow
PyNaCl
pyowm
pysftp==0.2.8
requests
scipy
soupsieve
Telethon
termcolor
vk-api
yarl
youtube-dl
hachoir
cffi